body{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    overflow-x: hidden;
    color: white;
    scrollbar-color: var(--primary) var(--grey);
}
.center{
  max-width: 1280px !important;
  margin: auto;

}
.App {
  display: flex;
  justify-content: center;
  max-width: 1280px;
  margin: auto;
  background-color: #282c34;
  overflow: hidden;
  /* min-height: 95vh; */
}

.App-header {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  color: var(--grey);
  max-width: 1280px;
  margin: auto;
}
