@import url('https://fonts.googleapis.com/css2?family=Fira+Code:wght@300;400;500;600;700&display=swap');
:root{
  --primary:#62AEEF;
  --grey:#ABB2BF;
  --background:#282C33;
  --font:'Fira Code';
}

body {
  margin: 0;
  font-family: 'Fira Code';
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
  background-color: var(--background);
}

code {
  font-family: 'Fira Code';
}

